@import url("https://fonts.googleapis.com/css?family=Big+Shoulders+Text:100,300,400,500,600,700,800,900&display=swap");
a {
  font-family: "Big Shoulders Text", cursive;
  font-size: 1.5rem;
  font-weight: 300;
}
.section-intro {
  height: 820px;
  background-image: url(img/petr-sevcovic-qE1jxYXiwOA-unsplash.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-intro h1 {
  font-size: 4em;
  font-weight: 700;
}

.about-section p,h1 {
  width: 60%;
  margin: auto;
  font-family: "Big Shoulders Text", cursive;
 font-size: 1.5rem;
}

.carousel-inner {
  height: 500px;
}

.row-flex {
  display: flex;
  flex-direction: row;
}

.flex-column-form {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 30px 20px;
}
.opening-time,
.contact-adress {
  flex: 1;
  margin: 30px 20px;
  font-size: 1.2em;
}

.form-group p {
  font-size: 1.2em;
}

.opening-time p span,
.contact-adress p span {
  display: block;
}
